<%= simple_form_for(@trip) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :from %>
    <%= f.input :to %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :description %>
    <%= f.input :nb_participant %>
    <%= f.input :status %>
    <%= f.input :category %>
    <%= f.input :car %>
    <%= f.input :house %>
    <%= f.input :equipment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create" %>
  </div>
<% end %>
