<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<div class="contgrey">
<%= render 'shared/search' %>
</div>

<div class="container">
    <% @trips_day.each do |day, trips| %>
        <div class="date">
          <h3><%= day.strftime('%v') %></h3>
        </div>
      <% for trip in trips %>
          <%= render "shared/cardtrip", trip: trip %>
      <% end %>
    <% end %>
</div>
