<div class="cont-search">
  <%= render 'shared/search' %>
</div>

<div class="container">
  <div class="list-trips">
    <% @trips_day.each do |day, trips| %>
    <div class="date">
      <h4><%= day.strftime('%A, %B %d') %></h4>
    </div>
    <% for trip in trips %>

    <div class="list-cards">
      <%= link_to trip_path(trip) do %>
      <%= render "shared/card-trip", trip: trip %>
      <% end %>
    </div>

    <% end %>
    <% end %>
    <div class="list-calendar">

      <div id="datepicker" data-date="<%= DateTime.now %>"></div>
      <input type="hidden" id="my_hidden_input">

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $('#datepicker').datepicker();
          $('#datepicker').on('changeDate', function() {
            $('#my_hidden_input').val(
              $('#datepicker').datepicker('getFormattedDate')
              );
          });
        <% end %>
      <% end %>
    </div>
  </div>
</div>
