<div class="container">

  <div class="form-group form-inline" id="index-search">
    <%= form_tag trips_path, method: :get, class: "form-group-navbar-home", id: "search-city"  do %>
    <span class="gotham-font"><i class="fa fa-search" aria-hidden="true"> </i>  </span> <%= search_field_tag :nearfrom, params[:nearfrom], class:'autocomplete-location search-bar', id: "search-box", placeholder: "Departure city"  %>
    <%= button_tag "nearfrom", name: nil, class:"input-group-addon form-group-navbar-button hidden" do %>
    <% end %>
    <% end %>
  </div>

  <div class="list-index">
    <div class="list-trips">
      <% if @trips_day.empty? %>
      <p><strong> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        No result for your search</strong></p>
        <p>Do you want to create one ?</p>
        <%= link_to "Create a trip", new_trip_path, { class: "btn-info" } %>
        <% end %>
        <% @trips_day.each do |day, trips| %>
        <div class="date">
          <h4 class='u-add-margin-top'><%= day.strftime('%A, %B %d') %></h4>
        </div>
        <% for trip in trips %>

        <div class="list-cards">
          <%= link_to trip_path(trip) do %>
          <%= render "shared/card-trip", trip: trip %>
          <% end %>
        </div>

        <% end %>
        <% end %>
      </div>

      <div class="list-calendar">
        <div id="one">
        <h6>Departure from:</h6>
          <div id="datepicker" data-date="<%= @date.strftime("%m/%d/%Y") %>"></div>
          <%= form_tag trips_path, method: :get, id: "form_date_picker" do %>
          <input name="date" type="hidden" id="select_date">
          <input name="nearfrom" type="hidden" value="<%= params["nearfrom"] %>">
          <input name="category" type="hidden" value="<%= params["category"] %>">
          <% end %>

          <div id="filter-category">
          <h6 class="u-add-margin-bottom">Filter by category:</h6>
            <ul class="list-unstyled u-add-padding-top">
              <li class="u-add-margin-bottom u-add-padding-top">
                <%= link_to trips_path(@filters.merge(category: 'Surf')) do %>
                  <span class="category category-background-orange u-font-size-16 <%= 'active' if @filters[:category] =='Surf' %>">surf</span>
                <% end %>
              </li>
                 <li class="u-add-margin-bottom u-add-padding-top">
                <%= link_to trips_path(@filters.merge(category: 'Kitesurf')) do %>
                  <span class="category category-background-purple u-font-size-16 <%= 'active' if @filters[:category] =='Kitesurf' %>">kitesurf</span>
                <% end %>
              </li>
              <li class="u-add-margin-bottom u-add-padding-top">
                <%= link_to trips_path(@filters.merge(category: 'Windsurf')) do %>
                  <span class="category category-background-green u-font-size-16 <%= 'active' if @filters[:category] =='Windsurf' %>">windsurf</span>
                <% end %>
              </li>
            </ul>
          </div>
            <!-- Link to FB messenger sign-in-form -->
            <div class='FB-messenger-sign-in'>
              <h6 class="u-add-margin-bottom">Facebook notifications:</h6>
              <button type=button, class='btn btn-info fbmessenger'>See more</button>
              <!-- JS insert FB messenger sign-form here -->
              <div id="input-form-fbalerts"></div>
            </div>
        </div>
      </div>
    </div>
  </div>



  <% content_for(:after_js) do %>
  <script type="text/javascript">
    $('#datepicker').datepicker();
    $('#datepicker').on('changeDate', function() {
      $('#select_date').val(
        $('#datepicker').datepicker('getFormattedDate')
        );
      $('#form_date_picker').trigger('submit')
    });
    $('#search-box').keydown(function (e) {
      if (e.which === 13) {
        $('#search-city').trigger('submit')
        return true;
      };
    });

    var footer = document.getElementById("two").offsetHeight;

    function sticky() {
      if (window.innerWidth < 900) {
        $("#one").unstick();
      } else {
        $("#one").sticky({bottomSpacing: 130 + footer});
      }
    };
    window.addEventListener('load', sticky);
    window.addEventListener('resize', sticky);

    document.querySelector('.fbmessenger').addEventListener("click", (event) => {
      if (document.getElementById("input-form-fbalerts").innerHTML === "") {
        <% user_ref = SecureRandom.base64 %>
        var form_fbalerts = "<%= j render 'users/fbmessengerform', user_ref: user_ref %>"
        document.getElementById("input-form-fbalerts").innerHTML = form_fbalerts

        var flat_addresses = document.querySelectorAll('.autocomplete-location');

        if (flat_addresses.length > 0) {
          flat_addresses.forEach(function(flat_address) {
            var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
            google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
            google.maps.event.addDomListener(flat_address, 'keydown', function(e) {
              if (e.keyCode == 13) {
                e.preventDefault(); // Do not submit the form on Enter.
              }
            });
          })
        }

        window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV["FB_APP_ID"] %>,
          xfbml      : true,
          version    : 'v2.6'
        });

      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk')
      );

      document.getElementById("update_button").addEventListener("click", (event) => {
        FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
          'app_id': <%= ENV["FB_APP_ID"] %>,
          'page_id': <%= ENV["FB_PAGE_ID"] %>,
          'user_ref':'<%= user_ref %>'
        });
        console.log('sent')
      });
      } else {
        document.getElementById("input-form-fbalerts").innerHTML = ""
      }
    });

  </script>
  <% end %>
