<div class="cont-search">
  <%= render 'shared/search' %>
</div>

<div class="container">
  <% if @nb_result == 0 %>
    <p><strong> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    No result for <%= params["nearfrom"] %></strong></p>
    <p>Do you want to create one ?</p>
    <%= link_to "Create a trip", new_trip_path, { class: "btn-info" } %>
    <p></p>
    <h3>Find below all the trips</h3>
  <% end %>
</div>

<div class="container">
  <div class="list-trips">
    <% @trips_day.each do |day, trips| %>
    <div class="date">
      <h4><%= day.strftime('%A, %B %d') %></h4>
    </div>
    <% for trip in trips %>

    <div class="list-cards">
      <%= link_to trip_path(trip) do %>
      <%= render "shared/card-trip", trip: trip %>
      <% end %>
    </div>

    <% end %>
    <% end %>
    <div class="list-calendar">

      <div id="datepicker" data-date="<%= DateTime.now %>"></div>
      <input type="hidden" id="my_hidden_input">

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $('#datepicker').datepicker();
          $('#datepicker').on('changeDate', function() {
            $('#my_hidden_input').val(
              $('#datepicker').datepicker('getFormattedDate')
              );
          });
        <% end %>
      <% end %>
    </div>
  </div>
</div>
