<h1>private session</h1>

<%= @trip.title %>

<%= link_to 'See trip details', trip_path(@trip), class: 'btn btn-info'%>
<% if @trip.user != current_user %>
  <%= link_to "Cancel", trip_participant_path(@trip, @trip.has_participant(current_user)[:participant] , status: "cancelled"), method: :patch, class: 'btn btn-info' %>
<% end %>
<% if @trip.user == current_user %>
  <%= link_to "Cancel trip", cancel_trip_path, class: 'btn btn-info' %>
<% end %>

<h3>Participants: </h3>
<% @trip.participants.each do |participant| %>
  <% if participant.status == 'accepted' %>
    <ul>
      <li>Name: <%= participant.user.first_name %> <%= participant.user.last_name %></li>
      <li>Email: <%= participant.user.email %></li>
      <li>Phone number: <%= participant.user.phone %></li>
    </ul>
  <% end %>
<% end %>

<!-- Chat box -->

<div class="comment-box">
  <strong>Chat</strong>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= render 'messages/form', trip: @trip, message: @message %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-7" id="comments">
      <div class="board-outline" id="message-board-public">
      <!-- Action-cable here (JS) -->
      <% @messages.each do |message| %>
        <%= render 'messages/show', message: message %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- JS -->

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      App.comments = App.cable.subscriptions.create({ channel: 'MessagesChannel', trip_id: <%= @trip.id %> }, {
        received: function(data) {
          var new_message = data.message;
          document.getElementById('message-board-public').insertAdjacentHTML('afterbegin', new_message );
          document.querySelector("#message_content").value = '';
        }
      });
    });
  </script>
<% end %>
