<div class="trip-total">
  <div class="trip-left">
    <div class="trip-status">
      <div class="status-color">
        <div class="status-color going">
          <% if  @trip.status == 'going' %>
            <p> <i class="fa fa-circle" aria-hidden="true"></i> <%= @trip.status %> </p>
            <!-- completer -->
          <% end %>
        </div>
      </div>
        <div class="category">
            <p><%= @trip.category %></p>
        </div>
    </div>
    <div class="trip-main-info">
      <div class="trip-cities">
        <h3>
        <%= @trip.from.address %>
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <%= @trip.to.address %></h3>
      </div>
      <div class="trip-duration">
        <% if @trip.starts_at.to_date == @trip.ends_at.to_date %>
        <h4>
        <%= @trip.starts_at.strftime("%A %e %b %Y") %> <br>
        <%= @trip.starts_at.strftime("%k:%M")%> <span>to</span>
        <%= @trip.ends_at.strftime("%k:%M")%>
        </h4>
        <% else %>
        <h4>
        <%= @trip.starts_at.strftime("%A %e %b %Y - %k:%M") %><br><span>to</span>
        <%= @trip.ends_at.strftime("%A %e %b %Y - %k:%M")%>
        </h4>
        <% end %>
      </div>
    </div>
    <div class="trip-info">
      <hr>
      <div class="trip-title">
        <h4><%= @trip.title %></h4>
      </div>
      <!-- description -->
      <div class="trip-description">
        <div class="more-description">
          <p><%= @trip.description  %></p>
          <span>About the car:<br><%= @trip.car %></span>
        </div>
      </div>
    </div>
    <!-- team -->
    <div class="surfer-box-cont">
      <hr>
      <h4>C u r r e n t - t e a m </h4>
      <% if @remaining_spots > 0 %>
      <span>
        <%= @remaining_spots %> seats remaining
      </span>
      <% end %>
      <div class="surfers-box">
        <!-- host -->
        <div class="surfer-space">
          <div class="surfers-profile host">
            <% if @trip.user.facebook_picture_url != nil %>
            <div class="trip-avatar-host img-circle" style="background-image: url(<%= @trip.user.facebook_picture_url.gsub('square', 'large')%> )">
            </div>
            <% end %>
            <div class="text-avatar">
              <p>
                <%= @trip.user.first_name %><br>
                <%= @trip.user.last_name %>
              </p>
              <p style="color: red">TODO: RATING</p>
            </div>
          </div>
        </div>
        <!-- surfers -->
        <% @trip.participants.each do |participant| %>
        <% if participant.status == 'accepted' %>
        <div class="surfer-space">
          <div class="surfers-profile">
            <%= link_to user_path(participant.user) do %>
            <div class="surfer-avatar img-circle" style="background-image: url(<%= participant.user.facebook_picture_url.gsub('square', 'large') %>)">
            </div>
            <div class="text-avatar">
              <p><%= participant.user.first_name %><br><%= participant.user.last_name %></p>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
        <% @remaining_spots.times do %>
        <div class="available-seat">
          <!-- empty seat -->
          <div class="empty-user img-circle">
          </div>
          <div class="text-avatar">
            <p>Available seat</p>
            <br>
            <br>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="host-description">
      <hr>
      <div class="trip-title">
        <h4>ABOUT <%= @trip.user.first_name %></h4>
      </div>
      <!-- description -->
      <div class="trip-description">
        <div class="more-description">
          <% if @trip.user.description.nil? %>
            <p><%= @trip.user.first_name %> hasn't write his description yet.</p>
          <% else %>
            <p><%= @trip.user.description %></p>
          <% end %>
        </div>
      </div>
    </div>
    <!-- wave graph -->

    <div class="host-description">
      <hr>
      <div class="trip-title">
        <h4>Forecast wave for the trip </h4>
      </div>
      <!-- description -->
      <div class="trip-description">
        <div class="more-description">
          <div class="weather-center">
            <%= render 'shared/weather-data', trip: @trip %>
          </div>
          <% unless @trip.starts_at < Date.today || @trip.starts_at > Date.today+7 %>
          <canvas id="myChart" width="350px" height="200px"></canvas>
          <% end %>
        </div>
      </div>
    </div>

    <!-- wave graph -->

    <div class="host-description">
      <hr>
      <div class="trip-title">
        <h4>Spots around destination </h4>
      </div>
      <!-- description -->
      <div class="trip-description">
        <div class="more-description">
          <div id="mapspot" style="width: 100%; height: 200px;"></div>
        </div>
      </div>
    </div>
        <!-- CHAT -->
    <div class="qanda">
    <hr>
    <h3 class="align-left">Q & A</h3>

    <!-- previous messages -->
    <div class="container-message">
      <div class="board-outline" id="message-board-public">
        <!-- Action-cable here (JS) -->
        <% @comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
        <% end %>
      </div>
    </div>
       <!-- Chat box -->
    <div class="container-comment">
      <div class="comment-box">
        <div class="question-box">
          <%= render 'comments/form', trip: @trip, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="trip-right">
  <!-- map -->
    <div id="map" style="width: 100%; height: 40vh;"> </div>
    <div class="road-time">
    <% if @trip.estimated_duration? %>
      <h4><%= Time.at(@trip.estimated_duration).utc.strftime("%H:%M")
 %></h4>
  <% end %>
    </div>
    <% if @trip.user != current_user %>
      <div class="join-trip">
        <div class="join-the-team-title">
          <h1><span>JOIN</span><br>
          the team</h1>
        </div>
        <div class="join-team-action">
          <% if @trip.has_participant(current_user)[:status] == false %>        <%= simple_form_for([@trip, @participant]) do |f| %>
            <div class="form-inputs">
              <%= f.input :message, required: true, label: false, placeholder: 'Write a short message to the organizer :)'%>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Ask to join", class: 'btn btn-primary' %>
            </div>
            <% end %>
          <% elsif @trip.has_participant(current_user)[:status] == 'pending' %>
                  <p>You have a pending request to join this trip</p>
                  <%= link_to "Cancel request", trip_participant_path(@trip, @trip.has_participant(current_user)[:participant] , status: "cancelled"), method: :patch, class: 'btn btn-info' %>
          <% elsif @trip.has_participant(current_user)[:status] == 'waiting list' %>
                  <p>You are on the waiting list for this trip</p>
          <% elsif @trip.has_participant(current_user)[:status] == 'accepted' %>
                  <p>You have joined this trip !</p>
          <% elsif @trip.has_participant(current_user)[:status] == 'declined' %>
                  <p><%= @trip.user.first_name %> has declined your request to join this trip</p>
          <% elsif @trip.has_participant(current_user)[:status] == 'cancelled' %>
            <div class="form-inputs">
              <%= f.input :message, required: true, label: false, placeholder: 'Write a short message to the organizer :)'%>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Ask to join", class: 'btn btn-primary' %>
            </div>
                  <% end %>
        </div>
      </div>
      <% else %>
      <div class="host-info">
        <div class="trip-edit">
          <% if @trip.user == current_user %>
          <h4><%= link_to edit_trip_path(@trip) do%> edit your trip
          <i class="fa fa-pencil" aria-hidden="true"></i>
          </h4>
          <% end %>
          <% end %>
        </div>

      </div>
      <% end %>
      <div class="social-share">
      <hr>
        <ul>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
        </ul>
      </div>
  </div>
</div>

<%= $orange %>
<!-- JS  -->
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      <% unless @trip.starts_at < Date.today || @trip.starts_at > Date.today+7 %>
      <% data = @trip.weather %>
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: <%= data[1].to_json.html_safe %>,
              datasets: [{
                  data: <%= data[2].to_json.html_safe %>,
                  label: 'Wave (m)',
                  backgroundColor : 'rgba(255, 116, 97, 0.5)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      <% end %>

      var styles = [
      {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [
              {
                  "color": "#6195a0"
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#f2f2f2"
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#ffffff"
              }
          ]
      },
      {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#e6f3d6"
              },
              {
                  "visibility": "on"
              }
          ]
      },
      {
          "featureType": "road",
          "elementType": "all",
          "stylers": [
              {
                  "saturation": -100
              },
              {
                  "lightness": 45
              },
              {
                  "visibility": "simplified"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "simplified"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#f4d2c5"
              },
              {
                  "visibility": "simplified"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "labels.text",
          "stylers": [
              {
                  "color": "#4e4e4e"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#f4f4f4"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
              {
                  "color": "#787878"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "labels.icon",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#eaf6f8"
              },
              {
                  "visibility": "on"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#eaf6f8"
              }
          ]
      }
      ]

      var directionsDisplay = new google.maps.DirectionsRenderer();
      var directionsService = new google.maps.DirectionsService();

      function calcRoute() {
        var origin      = new google.maps.LatLng(<%= @trip.from.latitude  %>, <%=  @trip.from.longitude %>);
        var destination = new google.maps.LatLng(<%= @trip.to.latitude %>, <%= @trip.to.longitude %> );
        var request = {
            origin:      origin,
            destination: destination,
            travelMode:  google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      calcRoute();

      var handler = Gmaps.build('Google');
      var handler2 = Gmaps.build('Google');
      handler.buildMap({ provider: { styles: styles}, internal: { id: 'map' } }, function() {
        directionsDisplay.setMap(handler.getMap());
      });

      handler2.buildMap({ provider: { styles: styles}, internal: { id: 'mapspot' } }, function() {

        markers = handler2.addMarkers(<%= raw @hash.to_json %>);
        handler2.bounds.extendWith(markers);
        handler2.fitMapToBounds();

        if (markers.length === 0) {
          handler2.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler2.getMap().setZoom(11);
        }
      });

        App.comments = App.cable.subscriptions.create({ channel: 'CommentsChannel', trip_id: <%= @trip.id %> }, {
        received: function(data) {
        const new_comment = data.comment;
        document.getElementById('message-board-public').insertAdjacentHTML('beforeend', new_comment );
        document.querySelector("#comment_content").value = '';
        }
      });

    });
</script>
<% end %>
</div>
