<div class="trip-show">
<% content_for :meta_description, @trip.description %>
<!-- map -->
<div id="map" style="width: 100%; height: 20vh;"></div>
<!-- cloison -->
<div class="block-center">
</div>
<!-- info A/R -->
<div class="trip-total">
<div class="banner-trip">
  <div class="trip-title-container">
    <div class="trip-cities">
      <h3><%= @trip.from.address %> - <%= @trip.to.address %> (<%= @trip.estimated_duration %>h trip) <br>
      Departure: <%= @trip.starts_at.strftime("%A %e %b %Y - %k:%M") %> </h3>
    </div>
  </div>
  <div class="trip-status">
    <p>Trip status: <br> <%= @trip.status %></p>
  </div>
</div>
<div class="trip-main">
  <div class="trip-left">
    <!-- title -->
    <div class="trip-info">
      <div class="trip-title">
        <h4><%= @trip.title %> </h4>
      </div>
      <!-- description -->
      <div class="trip-description">
        <div class="more-description">
          <p><%= @trip.description  %></p>
          <span>About the car:<br><%= @trip.car %></span>
        </div>
      </div>
    </div>
    <!-- team -->
    <div class="surfer-box-cont">
      <h4>C u r r e n t - t e a m </h4>
      <% if @remaining_spots > 0 %>
      <span>
        <%= @remaining_spots %> seats remaining
      </span>
      <% end %>
      <div class="surfers-box">
        <% @trip.participants.each do |participant| %>
        <% if participant.status == 'accepted' %>
        <div class="surfers-profile">
        <%= link_to user_path(participant.user) do %>
          <div class="banner-avatar img-circle" style="background-image: url(<%= participant.user.facebook_picture_url.gsub('square', 'large') %>)">
          </div>
          <p><%= participant.user.first_name %> <%= participant.user.last_name %></p>
        </div>
          <% end %>
        <% end %>
        <% end %>
        <% @remaining_spots.times do %>
        <div class="available-seat">
          <div class="empty-user img-circle">
          </div>
          <p>Available seat</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- right -->

  <div class="trip-right">
  <% if @trip.user != current_user %>
    <%= link_to user_path(@trip.user) do %>
    <div class="host-info">
    <h4>Trip leader</h4>
      <div class=" img-circle img-trip-host" style="background-image: url(<%= @trip.user.facebook_picture_url %>)">
      </div>
      <div class="info-trip-host">
        <hr>

        <p><br> <%= @trip.user.first_name %> <%= @trip.user.last_name %> <br>
        (review) </p>
      </div>
    </div>
  <% end %>
    <div class="join-trip">
      <div class="join-the-team-title">
        <h1><span>JOIN</span><br>
        the team</h1>
      </div>
        <div class="join-team">
          <div class="join-team-action">
            <% if @trip.has_participant(current_user)[:status] == false %>        <%= simple_form_for([@trip, @participant]) do |f| %>
            <div class="form-inputs">
              <%= f.input :message, required: true, label: false, placeholder: 'Write a short message to the organizer :)'%>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Ask to join", class: 'btn btn-primary' %>
            </div>
            <% end %>
            <% elsif @trip.has_participant(current_user)[:status] == 'pending' %>
            <p>You have a pending request to join this trip</p>
            <%= link_to "Cancel request", trip_participant_path(@trip, @trip.has_participant(current_user)[:participant] , status: "cancelled"), method: :patch, class: 'btn btn-info' %>
            <% elsif @trip.has_participant(current_user)[:status] == 'waiting list' %>
            <p>You are on the waiting list for this trip</p>
            <% elsif @trip.has_participant(current_user)[:status] == 'accepted' %>
            <p>You have joined this trip !</p>
            <% elsif @trip.has_participant(current_user)[:status] == 'declined' %>
            <p><%= @trip.user.first_name %> has declined your request to join this trip</p>
            <% elsif @trip.has_participant(current_user)[:status] == 'cancelled' %>
            <p>You have cancelled your request</p>
            <% else %>
            <p>Sorry, you cannot join this trip</p>
            <% end %>
          </div>
        </div>
        <% else %>
        <div class="trip-edit">
    <% if @trip.user == current_user %>
    <h4>edit<%= link_to edit_trip_path(@trip) do%>
    <i class="fa fa-pencil" aria-hidden="true"></i></h4>
    <% end %>
    <% end %>
  </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="qanda">
  <!-- CHAT -->
  <hr>
  <h3>Q & A</h3>
  <!-- previous messages -->
  <div class="container-message">
    <div class="board-outline" id="message-board-public">
      <!-- Action-cable here (JS) -->
      <% @comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
      <% end %>
    </div>
  </div>
  <!-- Chat box -->
  <div class="container-comment">
    <div class="comment-box">
      <div class="question-box">
        <%= render 'comments/form', trip: @trip, comment: @comment %>
      </div>
    </div>
  </div>
</div>

<div id="mapspot" style="width: 100%; height: 20vh;"></div>
<!-- JS  -->
<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      var styles = [
      {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [
              {
                  "color": "#6195a0"
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#f2f2f2"
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#ffffff"
              }
          ]
      },
      {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#e6f3d6"
              },
              {
                  "visibility": "on"
              }
          ]
      },
      {
          "featureType": "road",
          "elementType": "all",
          "stylers": [
              {
                  "saturation": -100
              },
              {
                  "lightness": 45
              },
              {
                  "visibility": "simplified"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "simplified"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#f4d2c5"
              },
              {
                  "visibility": "simplified"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "labels.text",
          "stylers": [
              {
                  "color": "#4e4e4e"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#f4f4f4"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
              {
                  "color": "#787878"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "labels.icon",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#eaf6f8"
              },
              {
                  "visibility": "on"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#eaf6f8"
              }
          ]
      }
      ]

      var directionsDisplay = new google.maps.DirectionsRenderer();
      var directionsService = new google.maps.DirectionsService();

      function calcRoute() {
        var origin      = new google.maps.LatLng(<%= @trip.from.latitude  %>, <%=  @trip.from.longitude %>);
        var destination = new google.maps.LatLng(<%= @trip.to.latitude %>, <%= @trip.to.longitude %> );
        var request = {
            origin:      origin,
            destination: destination,
            travelMode:  google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      calcRoute();

      var handler = Gmaps.build('Google');
      var handler2 = Gmaps.build('Google');

      handler.buildMap({ provider: { styles: styles}, internal: { id: 'map' } }, function() {
        directionsDisplay.setMap(handler.getMap());
      });

      handler2.buildMap({ provider: { styles: styles}, internal: { id: 'mapspot' } }, function() {

        markers = handler2.addMarkers(<%= raw @hash.to_json %>);
        handler2.bounds.extendWith(markers);
        handler2.fitMapToBounds();

        if (markers.length === 0) {
          handler2.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler2.getMap().setZoom(11);
        }

      });

      App.comments = App.cable.subscriptions.create({ channel: 'CommentsChannel', trip_id: <%= @trip.id %> }, {
        received: function(data) {
          const new_comment = data.comment;
          document.getElementById('message-board-public').insertAdjacentHTML('afterbegin', new_comment );
          document.querySelector("#comment_content").value = '';
        }
      });

    });
  </script>
<% end %>
</div>
