<div class="message">
  <% if comment.user.facebook_picture_url? %>
  <%= image_tag comment.user.facebook_picture_url, { class: "avatar-large img-circle" }%>
  <% else %>
  <div class="message-empty-img"></div>
  <% end %>

  <div class="message-name">
    <h3><%= comment.user.first_name %> <%= comment.user.last_name %></h3>
    <p><%= comment.created_at.strftime('%a %d %b %Y')  %></p>
  </div>
  <div class="message-body">
    <p>
      <% if comment.user == current_user %>
      <div class="text-green">
        <%= comment.content %>
      </div>
      <% else %>
      <div>
        <%= comment.content %>
      </div>
      <% end %>
    </p>
  </div>
</div>
