
    <div class="message-user-image">
      <% if comment.user.facebook_picture_url? %>
        <%= image_tag comment.user.facebook_picture_url, { class: "avatar-large img-circle" }%>
      <% else %>
       <div class="message-empty-img">
       </div>
      <% end %>
   </div>


  <div class="message-body">
    <div class="message-name">
     <div><h3>
      <%= comment.user.first_name %> <%= comment.user.last_name %></h3>
      </div>
      <div class="time">
      <p><%= comment.created_at.strftime('%d.%m.%y - %H:%M')  %></p>
      </div>
    </div>

    <div class="message-content">
      <p>
      <% if comment.user == current_user %>
      <div class="text-orange">
        <%= comment.content %>
      </div>
      <% else %>
      <div class="text-grey">
        <%= comment.content %>
      </div>
      <% end %>
    </p>

    </div>
  </div>
</div>
