<%= simple_form_for(current_user, url: updatefbmessenger_users_path ) do |f| %>
  <%= f.error_notification %>
  <%= f.input :follow_city, label: "Indicate your departure city and receive Messenger notifications !", input_html: {class: "autocomplete-location"} %>
  <%= f.button :submit, 'Save', class: 'btn btn-primary', id: 'update_button' %>
<% end %>
<% if ENV["ACCESS_TOKEN"].present? %>
  <div class="fb-messenger-checkbox"
    origin= "<%= ENV["FB_ORIGIN_URL"] %>"
    page_id= "<%=  ENV["FB_PAGE_ID"] %>""
    messenger_app_id= "<%= ENV["FB_APP_ID"] %>"
    user_ref= "<%= user_ref %>"
    prechecked="true"
    allow_login="true"
    size="large"></div>
<% end %>

<% if ENV["ACCESS_TOKEN"].present? %>
  <%# content_for (:after_js) do %>
    <script>

    </script>
  <%# end %>
<% end %>
