 <div class="body-dashboard">

  <%= render 'shared/navbar-dashboard' %>

  <div class="container-dashboard">
    <h3>Overview</h3>

    <div class="grid">
      <div class="grid-notifications">
        <div class="grid__title">
          Notifications
        </div>
        <div class="grid__container">
          <div class="grid__container-notifications">
            Florent has joined your last trip.
          </div>
        </div>
        <div class="grid__container">
          <div class="grid__container-notifications">
            Julien has joined your last trip.
          </div>
        </div>
      </div>
      <div class="grid-bookings">
        <div class="grid__title">
          Bookings
        </div>
        <div class="grid__container">
          <% @user.participants.each do |participant| %>
          <%= link_to trip_path(participant.trip) do %>
          <div class="grid__card-bookings">
            <div class="grid__card-bookings__info">
              <div class="grid__card-bookings__title">
                <%= participant.trip.title %>
              </div>
              <span class="green"><%= participant.status.capitalize %></span>
            </div>
            <div class="grid__card-bookings__info-user">
              <% if participant.trip.user.facebook_picture_url == nil %>
              <div style="background-image: url('http://esq.h-cdn.co/assets/16/47/980x490/landscape-1479854207-kelly-slater.jpg')", class="grid__card-bookings__host-img img-circle img-small img-random">
              </div>
              <% else %>
              <div class="grid__card-bookings__host-img">
                <%= image_tag participant.trip.user.facebook_picture_url, class: "img-circle img-small" %>
              </div>
              <% end %>
              <div class="grid__card-bookings__host-name">
                <%= participant.trip.user.first_name %> <%= participant.trip.user.last_name %>
              </div>
              <i class="fa fa-clock-o u-font-size-bigger u-color-light-grey u-text-align-right u-flex-grow" aria-hidden="true"></i>
              <div class="grid__card-bookings__date">
                <%= participant.trip.starts_at.strftime("%m/%d/%Y") %>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="grid-trips">
        <div class="grid__title">
          Trips
        </div>
        <div class="grid__container">
        <% @trips_day_up.each do |trip| %>
        <%= link_to mytrips_users_path do %>
        <div class="grid__card-trips">
        <div class="grid__card-bookings__info">
          <div class="grid__card-bookings__title">
            <%= trip.title %>
          </div>
          <%= trip.participants.count %>/<%= trip.nb_participant %> seats booked<br>
          <%= trip.starts_at.strftime("%I:%M%p - %m/%d/%Y") %>
        </div>



        </div>
        <% end %>
        <% end %>
        </div>
      </div>
      <div class="grid-reviews">
        <div class="grid__title">
          Last reviews
        </div>
      </div>
    </div>
  </div>
</div>
