 <% @participants.each do |participant| %>
  <div>
  <h1> <%= participant.trip.title %></h1>
  <%= participant.trip.from %><br>
  <%= participant.trip.to %><br>
  <%= participant.trip.starts_at %><br>
  <%= participant.trip.ends_at %><br>

  <strong><%= participant.status %></strong>
  <%= link_to "Cancel", trip_participant_path(participant.trip, participant, status: "cancelled"), method: :patch %>
  <hr>
  </div>
 <% end %>
