<div class="messenger-box">


    <!-- List of trips -->
    <div class="listing-chat">
      <ul>
        <% @trips.each do |trip| %>
          <div id="trip-<%= trip.id %>">
            <li><%= trip.title %> <br>
            <%= trip.starts_at.strftime("%A %e %b %Y - %k:%M") %> <br>
            <%= trip.from.address %> to <%= trip.to.address %></li>
          </div>
        <% end %>
      </ul>
    </div>

    <!-- Trip chat -->
    <div class="conversation">
      <div class="messages">
        <%= render 'users/tripchat', trip: @first_trip, message: @message  %>
      </div>
    </div>

</div>

<!-- JS dynamic trip navbar -->
<% content_for(:after_js) do %>
  <script>
    <% @trips.each do |trip| %>
      document.getElementById("trip-<%= trip.id %>").addEventListener("click", (event) => {
        var chat = "<%= j render 'users/tripchat', trip: trip, message: @message  %>"
        document.getElementById("trip-chat").innerHTML = chat;
      });
    <% end %>
  </script>
<% end %>
