<div class="messenger-box">


    <!-- List of trips -->
    <div class="listing-chat">
      <ul>
        <% @trips.each do |trip| %>
          <div class='chat-list' id="trip-<%= trip.id %>">
            <li>
            <h4> <%= trip.title.upcase %> </h4>
            <p>
            <% if trip.from.city.nil? || trip.from.city.nil?  %>
              <%= trip.from.address %> to <%= trip.to.address %>
            <% else %>
              <%= trip.from.city %> to <%= trip.to.city %>
            <% end %><br>

            <span> <%= trip.starts_at.strftime("%A %e %b %Y - %k:%M") %> </span>
            </p></li>
          </div>
        <% end %>
      </ul>
    </div>

    <!-- Trip chat -->
    <div class="conversation">
      <div class="messages">
        <div id="trip-chat" class="tripchat">
        </div>
        <!-- JS render trip chat partial here -->
      </div>
    </div>

</div>

<!-- JS dynamic trip navbar -->
<% content_for(:after_js) do %>
  <script>
    <% if @first_trip %>
      document.getElementsByClassName('chat-list')[0].classList.add("active-li")
      <% @trips.each do |trip| %>
        document.getElementById("trip-<%= trip.id %>").addEventListener("click", (event) => {
          var chat = "<%= j render 'users/tripchat', trip: trip, message: @message  %>"
          document.getElementById("trip-chat").innerHTML = chat;
          if (document.getElementsByClassName('chat-list active-li')[0] != null){
            document.getElementsByClassName('chat-list active-li')[0].classList.remove('active-li')
          }
          document.getElementById("trip-<%= trip.id %>").classList.add("active-li")


        });
      <% end %>
      document.getElementById("trip-<%= @first_trip.id %>").click()
    <% end %>
  </script>
<% end %>
