 <% @trips.each do |trip| %>
  <div>
  <h1> <%= trip.title %></h1>
  <%= link_to 'edit trip', edit_trip_path(trip.id) %>
  <%= link_to 'view trip', trip_path(trip.id) %><br>
  <%= trip.from %><br>
  <%= trip.to %><br>
  <%= trip.starts_at %><br>
  <%= trip.ends_at %><br>

  <h4> NB participants : <%= trip.participants.count %></h4>
  <ul>
    <% trip.participants.each do |participant| %>
    <li> <%= participant.user.email %> - <%= participant.status %>
      <% if participant.status == "pending" %>
        <%= link_to "accept", trip_participant_path(participant.trip, participant, status: "accepted"), method: :patch, status: "cancelled" %>
        <%= link_to "decline", trip_participant_path(participant.trip, participant, status: "declined"), method: :patch, status: "cancelled" %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <hr>
  </div>
 <% end %>
