
<%= render 'shared/navbar-dashboard' %>

<div class="container">
  <div class="container-small u-margin-top">
    <h3>UPCOMING TRIPS</h3>
    <% @trips_day_up.each do |day, trips| %>
    <div class="date">
      <h3><%= day.strftime('%v') %></h3>
    </div>
      <% for trip in trips %>
        <%= trip[:type]  %>
        <%= render "shared/card-trip-dashboard", trip: trip[:trip] %>
      <% end %>
    <% end %>
    <h3>PAST TRIPS</h3>
    <% @trips_day_past.each do |day, trips| %>
    <div class="date">
      <h3><%= day.strftime('%v') %></h3>
    </div>
    <% for trip in trips %>
      <%= render "shared/card-trip-dashboard", trip: trip[:trip] %>
    <% end %>
    <% end %>
  </div>
</div>

