<div class="background-user">
  <div class="banner-user" style="background-image: url('https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg');">
    <% if @user.facebook_picture_url != nil %>
    <div class="banner-avatar img-circle" style="background-image: url(<%= @user.facebook_picture_url.gsub('square', 'large') %>)">
    </div>
    <% end %>
    <div class="">
      <h1>
      <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </div>
  </div><
</div>
<div class="infos">
  <div class="details">
    <h3>I N F O S</h3>
    <hr>
    <ul>
      <% if @user.location != nil %>
      <li>Location: <%= @user.location  %></li>
      <% else %>
      <li> Location to define</li>
      <% end %>
      <li>Member since: <%= @user.created_at.strftime("%Y") %></li>
      <% if @user.language != nil %>
      <li>Speaks: <%= @user.language %></li>
      <% else %>
      <li>Languages to define</li>
      <% end %>
    </ul>
  </div>
  <div class="info-description">
    <% if current_user == @user %>
    <div class="user-edit">
      <%= link_to edit_user_path(current_user) do %><i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="user-description">
      <% end %>
      <h3>D E S C R I P T I O N</h3>
      <% if @user.description != nil %>
      <p> <%= @user.description %></p>
      <% else %>
      <p><i>This member hasn't write his description yet</i></p>
      <% end %>
    </div>
  </div>
</div>

<div class="infos-last-booking">
</div>
