<div class="card-border">

  <div class="card-dashboard__trip">
    <div class="card-trip__time">
      <p><%= trip[:trip].starts_at.strftime('%R') %></p>
    </div>
    <div class="u-add-padding-left u-flex-grow">

      <p><%= trip[:trip].title.upcase %> <span class="category"><%= trip[:trip].category.downcase %></p></span>
      <%= link_to trip_path(trip[:trip]) do %>
      <h3><%= trip[:trip].from.address %> <<strong>/</strong>> <%= trip[:trip].to.address %></h3>
      <% end %>
      <p><%= trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %> surfers going <span class="u-color-font-orange">• <%= trip[:trip].nb_participant - trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
      <div class="btn" data-toggle="collapse" data-target="#requests<%= trip[:trip].id %>">See requests <i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </div>
    <div class="card-trip__weather">
      <p class="float-right">
        <i class="fa fa-tint u-font-big" aria-hidden="true"></i>
        <i class="fa fa-sun-o u-font-big" aria-hidden="true"></i><br>
      </p>
    </div>
  </div>

  <div class="collapse" id="requests<%= trip[:trip].id %>">
  <% trip[:trip].participants.group_by { |p| p.status }.each do | status, participants | %>
  <% for participant in participants %>

    <div class="list-requests">

      <% if participant.user.facebook_picture_url? %>
      <%= link_to user_path(participant.user.id) do %>
      <%= image_tag participant.user.facebook_picture_url, class: "img-circle img-small" %>
      <% end %>
      <% else %>
      <%= link_to user_path(participant.user.id) do %>
        <% avatar_url = current_user.facebook_picture_url || current_user.photo ||"http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "img-circle img-small" %>
      <% end %>

      <% end %>
      <div class="u-add-padding-left u-width-20">
        <% if participant.user.first_name? %>
        <strong> <%= participant.user.first_name%> <%= participant.user.last_name%> </strong> <%= participant.created_at.strftime('%v') %></p>
        <% else %>
        <%= participant.trip.user.first_name%> <%= participant.trip.user.last_name%>
        <% end %>
      </div>
      <div class="u-add-padding-left u-flex-grow">
        <p class="text-justify text-message"><%= participant.message %></p>
      </div>
      <% if participant.status == "pending" %>
      <div class="u-add-padding-left">
        <%= link_to "Accept", trip_participant_path(participant.trip, participant, status: "accepted"), method: :patch, :class=>"btn-accept" %>
      </div>
      <div class="u-add-padding-left">
        <%= link_to "Cancel", trip_participant_path(participant.trip, participant, status: "declined"), method: :patch, :class=>"btn-decline"%>
      </div>
      <% else %>
      <p><%= participant.status.capitalize %></p>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>




