<div class="card-dashboard__booking">
  <% if trip[:status] == 'accepted' %>
  <div class="status-color-booking-green">
  </div>
  <div class="status-wording-booking">
    <div class="u-add-padding-right color-green">Going</div>
    <div class="color-green font-size-25">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </div>
  </div>
  <% elsif trip[:status] == 'cancelled' %>
    <div class="status-color-booking-red">
    </div>
    <div class="status-wording-booking">
      <div class="u-add-padding-right color-red">Declined</div>
      <div class="color-red font-size-25">
      <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  <% else %>
    <div class="status-color-booking-yellow">
    </div>
    <div class="status-wording-booking">
      <div class="u-add-padding-right color-yellow">Pending</div>
      <div class="color-grey font-size-25">
      </div>
    </div>
  <% end %>
  <div class="card-trip__time">
    <p><%= trip[:trip].starts_at.strftime('%I:%M%p') %></p>
  </div>
  <div class="u-add-padding-left u-flex-grow" id="card-info-trip">
    <% if trip[:trip].category == 'Surf' %>
      <p><%= trip[:trip].title.upcase %><span class="category category-background-orange"><%= trip[:trip].category.downcase %></p></span>
    <% elsif trip[:trip].category == 'Kitesurf' %>
      <p><%= trip[:trip].title.upcase %><span class="category category-background-purple"><%= trip[:trip].category.downcase %></p></span>
    <% else %>
      <p><%= trip[:trip].title.upcase %><span class="category category-background-green"><%= trip[:trip].category.downcase %></p></span>
    <% end %>

    <%= link_to trip_path(trip[:trip]) do %>
    <% if trip[:trip].from.city == nil %>
      <h4><%= trip[:trip].from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.city %></h4>
    <% elsif trip[:trip].to.city == nil %>
      <h4><%= trip[:trip].from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.address %></h4>
    <% elsif trip[:trip].to.city == nil && trip[:trip].from.city == nil %>
      <h4><%= trip[:trip].from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.address %></h4>
    <% else %>
      <h4><%= trip[:trip].from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.city %></h4>
    <% end %>
    <% end %>

    <p>
     Hosted by <%= trip[:trip].user.first_name %>
     </p>

    <span class="font-size-14">
    <% if trip[:status] == 'accepted' %>
      <div class="chat-link">
        <%= link_to mymessages_users_path do %>
            <i class="fa fa-commenting" aria-hidden="true"></i> Chat now
        <% end %>
      </div>
    <% else %>

    <% nb_accepted_participants = trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %>
    <% nb_seats_left = trip[:trip].nb_participant - trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %>

    <span class='font-size-14'>
      <p>

        <% if nb_accepted_participants == trip[:trip].nb_participant %>
        <% elsif nb_accepted_participants > 1 %>
          <%= nb_accepted_participants %> surfers going
        <% elsif nb_accepted_participants == 1 %>
          1 surfer going
        <% else %>
        <% end %>

        <span class="u-color-font-orange">
          <% if nb_seats_left > 1 %>
            • <%= nb_seats_left %> seats left
          <% elsif nb_seats_left == 1 %>
            • 1 seat left
          <% elsif nb_accepted_participants == trip[:trip].nb_participant %>
            • Trip full
          <% else %>
          <% end %>
        </span>
      </p>
    </span>

    <% end %>
    </span>
  </div>
  <div class="card-trip__weather">
    <div class="display-flex float-right">
  <%= render 'shared/weather-data', trip: trip[:trip] %>
  </div>
  </div>
</div>
