<div class="card-trip">
  <div class="card-trip__time">
    <p><%= trip.starts_at.strftime('%I:%M%p') %></p>
  </div>
  <div class="u-add-padding-left u-flex-grow" id="card-info-trip">
    <% if trip.category == 'Surf' %>
    <p><%= trip.title.upcase %><span class="category category-background-orange"><%= trip.category.downcase %></p></span>
    <% elsif trip.category == 'Kitesurf' %>
    <p><%= trip.title.upcase %><span class="category category-background-purple"><%= trip.category.downcase %></p></span>
    <% else %>
    <p><%= trip.title.upcase %><span class="category category-background-green"><%= trip.category.downcase %></p></span>
    <% end %>

    <% if trip.from.city == nil %>
      <h4><%= trip.from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip.to.city %></h4>
    <% elsif trip.to.city == nil %>
      <h4><%= trip.from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip.to.address %></h4>
    <% elsif trip.to.city == nil && trip.from.city == nil %>
      <h4><%= trip.from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip.to.address %></h4>
    <% else %>
      <h4><%= trip.from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip.to.city %></h4>
    <% end %>

     <p>Hosted by <%= trip.user.first_name %></p>

    <% if trip.participants.select { |participant| participant.status == 'accepted'}.size > 0 %>
      <p><%= trip.participants.select { |participant| participant.status == 'accepted'}.size %> surfers going <span class="u-color-font-orange">• <%= trip.nb_participant - trip.participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
    <% else %>
      <p><span class="u-color-font-orange">• <%= trip.nb_participant - trip.participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
    <% end %>
  </div>
         <!-- WEATHER without RESPONSE  -->
  <div class="card-trip__weather">
    <div class="display-flex float-right">
  <%= render 'shared/weather-data', trip: trip %>
         <!-- END WEATHER  -->
    </div>
  </div>
</div>
