<div class="card-dashboard__booking">
  <% if trip[:status] == 'accepted' %>
  <div class="status-color-booking-green">
  </div>
  <div class="status-wording-booking">
    <div class="u-add-padding-right color-green">Going</div>
    <div class="color-green font-size-25">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
    </div>
  </div>
  <% elsif trip[:status] == 'cancelled' %>
    <div class="status-color-booking-red">
    </div>
    <div class="status-wording-booking">
      <div class="u-add-padding-right color-red">Declined</div>
      <div class="color-red font-size-25">
      <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  <% else %>
    <div class="status-color-booking-grey">
    </div>
    <div class="status-wording-booking">
      <div class="u-add-padding-right color-grey">Pending</div>
      <div class="color-grey font-size-25">
      </div>
    </div>
  <% end %>
  <div class="card-trip__time">
    <p><%= trip[:trip].starts_at.strftime('%I:%M%p') %></p>
  </div>
  <div class="u-add-padding-left u-flex-grow" id="card-info-trip">
    <% if trip[:trip].category == 'Surf' %>
      <p><%= trip[:trip].title.upcase %><span class="category category-background-orange"><%= trip[:trip].category.downcase %></p></span>
    <% elsif trip[:trip].category == 'Kitesurf' %>
      <p><%= trip[:trip].title.upcase %><span class="category category-background-purple"><%= trip[:trip].category.downcase %></p></span>
    <% else %>
      <p><%= trip[:trip].title.upcase %><span class="category category-background-green"><%= trip[:trip].category.downcase %></p></span>
    <% end %>
    <% if trip[:trip].from.city == nil %>
      <h4><%= trip[:trip].from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.city %></h4>
    <% elsif trip[:trip].to.city == nil %>
      <h4><%= trip[:trip].from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.address %></h4>
    <% elsif trip[:trip].to.city == nil && trip[:trip].from.city == nil %>
      <h4><%= trip[:trip].from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.address %></h4>
    <% else %>
      <h4><%= trip[:trip].from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
      <%= trip[:trip].to.city %></h4>
    <% end %>
    <% if trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size > 0 %>
      <p><%= trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %> surfers going <span class="u-color-font-orange">• <%= trip[:trip].nb_participant - trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
    <% else %>
      <p><span class="u-color-font-orange">• <%= trip[:trip].nb_participant - trip[:trip].participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
    <% end %>
  </div>
  <%= render 'shared/weather-data', trip: trip[:trip] %>
</div>
