<div class="card-trip">
  <div class="card-trip__time">
    <p><%= trip.starts_at.strftime('%I:%M%p') %></p>
  </div>
  <div class="u-add-padding-left u-flex-grow">
    <p><%= trip.title.upcase %><span class="category"><%= trip.category.downcase %></p></span>
    <h4><%= trip.from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
 <%= trip.to.address %></h4>
    <p><%= trip.participants.select { |participant| participant.status == 'accepted'}.size %> surfers going <span class="u-color-font-orange">• <%= trip.nb_participant - trip.participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
  </div>
  <div class="card-trip__weather">
    <p class="float-right">
      <i class="fa fa-tint u-font-big" aria-hidden="true"></i>
      <i class="fa fa-sun-o u-font-big" aria-hidden="true"></i>
    </p>
  </div>
</div>
