<div class="trip">
  <div class="time text-left">
    <h3><%= trip.starts_at.strftime('%R') %></h3>
    <p><%= ((trip.ends_at.to_date) - (trip.starts_at.to_date)).to_i %> days</p>
    <div class="text-right">
      <% if trip.user.facebook_picture_url? %>
      <%= link_to user_path(trip.user.id) do %>
      <%= image_tag trip.user.facebook_picture_url, :class => "avatar" %>
      <% end %>
      <% end %>
    </div>
  </div>
    <div class="body">
      <div class="title">
        <div class="destination">
        <%= link_to trip_path(trip.id) do %>
          <h3><%= trip.from %> <<strong>/</strong>> <%= trip.to %></h3>
          <p><%= trip.title %><p>
          <% end %>
        </div>
        <div class="participant text-center">
          <p class="logo-nav">
            <%= trip.participants.where(status: "accepted").count %>/<%= trip.nb_participant %>
          </p>
          <p>seats taken</p>
        </div>
      </div>
      <div class="detail limit">
        <p class="text-justify"><%= trip.description %></p>
      </div>
    </div>
  <div class="weather text-center align-middle">
    Weather
  </div>
</div>
