<div class="card-trip">
  <div class="card-trip__time">
    <p><%= trip.starts_at.strftime('%I:%M%p') %></p>
  </div>
  <div class="u-add-padding-left u-flex-grow" id="card-info-trip">
    <% if trip.category == 'Surf' %>
    <p><%= trip.title.upcase %><span class="category category-background-orange"><%= trip.category.downcase %></p></span>
    <% elsif trip.category == 'Kitesurf' %>
    <p><%= trip.title.upcase %><span class="category category-background-purple"><%= trip.category.downcase %></p></span>
    <% else %>
    <p><%= trip.title.upcase %><span class="category category-background-green"><%= trip.category.downcase %></p></span>
    <% end %>

    <% if trip.from.city == nil %>
    <h4><%= trip.from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
 <%= trip.to.city %></h4>
      <% elsif trip.to.city == nil %>
      <h4><%= trip.from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
 <%= trip.to.address %></h4>
      <% elsif trip.to.city == nil && trip.from.city == nil %>
      <h4><%= trip.from.address %> <i class="fa fa-exchange" aria-hidden="true"></i>
 <%= trip.to.address %></h4>
      <% else %>
    <h4><%= trip.from.city %> <i class="fa fa-exchange" aria-hidden="true"></i>
 <%= trip.to.city %></h4>
    <% end %>
    <% if trip.participants.select { |participant| participant.status == 'accepted'}.size > 0 %>
    <p><%= trip.participants.select { |participant| participant.status == 'accepted'}.size %> surfers going <span class="u-color-font-orange">• <%= trip.nb_participant - trip.participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
    <% else %>
    <p><span class="u-color-font-orange">• <%= trip.nb_participant - trip.participants.select { |participant| participant.status == 'accepted'}.size %> seats left</span></p>
    <% end %>
  </div>
  <!-- WEATHER without RESPONSE  -->
  <div class="card-trip__weather">
    <% weather = trip.light_weather %>
    <% if weather == {} %>
      <div class="weather">
      <div>
        <%= image_tag 'http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_50/v1504016683/wave_tzrfwr.svg', { class: "weather-medium"} %>
      </div>
      <div>
        <%= image_tag 'http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_50/v1504015914/sea-waves_ryjed0.svg', { class: "weather-medium"} %>
      </div>
      <div>
        <%= image_tag 'http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_50/v1504015914/wind-sign_amqspd.svg', { class: "weather-medium"} %>
      </div>
      </div>
      <p> wait for it ...</p>
    </div>
  <% else %>
  <!-- WEATHER IF API GET RESPONSE -->
    <div class="weather">
      <div>
        <%= image_tag 'http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_50/v1504016683/wave_tzrfwr.svg', { class: "weather-medium"} %>
        <p><%= weather[:wave] %> m at <%= weather[:periode] %>s</h1>
      </div>
      <div>
        <%= image_tag 'http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_50/v1504015914/sea-waves_ryjed0.svg', { class: "weather-medium"} %>
        <p> <strong><%= weather[:sweel] %></strong> m to <%= weather[:sweel_direction] %></p>
      </div>
      <div>
        <%= image_tag 'http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_50/v1504015914/wind-sign_amqspd.svg', { class: "weather-medium"} %>
        <p> <strong><%= weather[:wind_speed] %></strong> k/m to <%= weather[:wind_direction] %></p>
      </div>
      </div>
      <p>Weather on <%= trip.starts_at.to_date %> at 12pm </p>
    </div>
  <% end %>
  <!-- END WEATHER  -->
</div>
