<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand logo-nav" do %>
    CALYPSO/
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <div class="menu menu--adsila">
        <%= link_to new_trip_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">CREATE</span>
          <% end %>
        <%= link_to trips_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">EXPLORE</span>
          <% end %>
        <%= link_to mytrips_users_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">MY TRIPS</span>
        <% end %>
        <%= link_to mymessages_users_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">MESSAGES</span>
        <% end %>
        </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <div class="menu menu--adsila">
        <%= link_to new_trip_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">CREATE</span>
          <% end %>
        <%= link_to trips_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">EXPLORE</span>
          <% end %>
        <%= link_to new_user_session_path, class: "navbar-wagon-item navbar-wagon-link menu__item" do %>
          <span class="menu__item-name">LOGIN</span>
        <% end %>
        </div>
    <% end %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <% if user_signed_in? %>
        <li><%= link_to "CREATE", new_trip_path %></li>
        <li><%= link_to "EXPLORE", new_trip_path %></li>
        <li><%= link_to "MY TRIP", mytrips_users_path %></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete  %></li>
      <% else %>
        <li><%= link_to "CREATE", new_trip_path %></li>
        <li><%= link_to "EXPLORE", new_trip_path %></li>
        <li><%= link_to "LOGIN", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

