<header class="heropanel--video curve-mask" data-vide-bg="mp4:https://res.cloudinary.com/dyub4bz6x/video/upload/v1503833173/banner-calypso_br9sj1.mp4", poster: https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">
  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand logo-nav" do %>
    CALYPSO<span>/</span>
    <% end %>
  </div>
  <div class="header-content">
    <%#= I18n.locale %>
    <div class="heropanel__content">
      <h1><%= t "home.join-a-trip" %></h1>
      <h1><%= t "home.meet-surfers" %></h1>
      <h1><%= t "home.create-adventures" %></h1>
    </div>
    <!-- searchbar -->
    <!-- <#%= render 'shared/search' %> -->
    <!-- btn explore -->
    <div class="explore-btn">
      <!-- pop on click -->
      <div id="open-mc-popup" class="btn btn-explore btn-full-width open-popup" onclick="showMailPopup()" ><%= t "home.register" %>
      </div>
    </div>
    <!-- a reactiver après phase mail -->
    <%#= link_to  trips_path ,{:class=>"btn btn-explore btn-full-width"} do %>
    <%#= t "home.explore" %>
    <%# end %>
  </div>
</header>
<div class="actions-demo">
  <!-- JOIN  -->
  <div class="action-container">
    <div class="action-text">
      <h3><i class="fa fa-search" aria-hidden="true"></i>
      <%= t "home.find-a-trip" %></h3>
      <p><%= t "home.find-a-trip-descr" %></p>
    </div>
    <div class="action-illustration iphone">
      <img src="http://res.cloudinary.com/dyub4bz6x/image/upload/v1516466362/demo_iojjsx.gif" class="shadow-demo" alt="">
    </div>
  </div>
  <!-- CREATE -->
  <div class="action-container">
    <div class="action-text">
      <h3><i class="fa fa-plus" aria-hidden="true"></i>
      <%= t "home.create-a-trip" %></h3>
      <p><%= t "home.create-a-trip-descr" %></p>
    </div>
    <div class="action-illustration mac">
      <img src="http://res.cloudinary.com/dyub4bz6x/image/upload/v1516467667/macbookcalypso-4d51c48cd48d46d193dc922607c21c9ac9ba95b6248bbb4d0932bff031ed6842_gu1d54.png" class="shadow-demo" alt="">
    </div>
  </div>
</div>
<div class="join-us">
  <div class="explore-btn">
    <!-- pop on click -->
    <div id="open-mc-popup" class="btn btn-explore btn-full-width open-popup" onclick="showMailPopup()" ><%= t "home.register" %>
    </div>
  </div>
</div>
<div class="progression">
  <ol class="progress progress--large">
    <li class="is-complete" data-step="1">
      <div class="step-content">
        <h4>Pré-inscription</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc magna elit, vestibulum sagittis lorem rhoncus, pellentesque vulputate elit. Cras lobortis, diam quis sollicitudin ullamcorper.</p>
      </div>
    </li>
    <li class="is-active" data-step="2">
      <div class="step-content">
        <h4>Beta-test</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc magna elit, vestibulum sagittis lorem rhoncus, pellentesque vulputate elit. Cras lobortis, diam quis sollicitudin ullamcorper.</p>
      </div>
    </li>
    <li data-step="3">
      <div class="progress__last">
        <div class="step-content">
          <h4>Lancement de la V.1</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc magna elit, vestibulum sagittis lorem rhoncus, pellentesque vulputate elit. Cras lobortis, diam quis sollicitudin ullamcorper.</p>
        </div>
      </div>
    </li>
  </ol>
</div>
<div class="support-us">
  <h2>Tu aimes notre projet ?</h2>
  <a href="https://www.facebook.com/sharer/sharer.php?u=calypso.surf" target="_blank">
    <button>
      Je partage !
    </button>
  </a>
</div>
