<header class="heropanel--video" data-vide-bg="mp4: https://res.cloudinary.com/dyub4bz6x/video/upload/v1503833173/banner-calypso_br9sj1.mp4", poster: https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">
<%#= I18n.locale %>
  <div class="heropanel__content">
    <h1><%= t "home.join-a-trip" %></h1>
    <h1><%= t "home.meet-surfers" %></h1>
    <h1><%= t "home.create-adventures" %></h1>
  </div>
    <% if user_signed_in? %>
  <!-- searchbar -->
      <%= render 'shared/search' %>
  <!-- MAIL COLLECTION : à virer après phase test -->
    <% else %>
    <div class="explore-btn">
      <div class="mail-collector">
        <%= form_for Subscriber.create, html: {class: "mail-collector"} do |f| %>
          <%= f.text_field :email, placeholder: "email address" %>
          <%= f.submit "send", class: "send" %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>


<!-- join  -->
<div class="map-container">
  <div class="find">
    <h3><i class="fa fa-search" aria-hidden="true"></i>
    <%= t "home.find-a-trip" %></h3>
    <p><%= t "home.find-a-trip-descr" %></p>
  </div>
</div>
<div class="create-container">
  <div class="bg">
  </div>
  <div class="white-bg text-center">
    <h3>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <%= t "home.create-a-trip" %>
    </h3>
    <p>
      <%= t "home.create-a-trip-descr" %>
    </p>
  </div>
</div>
<div class="block-center">
</div>


